/* base styling for search modal */
.search-modal {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

/* Input field styles */
.search-modal__input {
  border: 1px solid #dedede;
  border-radius: 2px;
  padding: .4em;
  font-size: 14px;
}

/* Button styles */
.search-modal__go {
  padding: 0.4em 1em;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.search-modal__go:hover {
  background-color: #555;
}

/* Hidden state for the search modal */
.search-modal--hidden {
  display: none;
}
